@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
</head>
<body>
    <div class="text-center">
       




        <div id="rotate-words">
            <div>Create your own list<br />  <span>Movies and Series</span></div>
            <div>Give your Rating<br />  <span>or not</span></div>
            <div><br />  <span>Love Cinema</span></div>
            <div>Have fun<br />  <span>and smile</span></div>
            <div>CinemaApp is for<br />  <span>Everyone</span></div>
            <div>Perfect for Any Movie<br />  <span>and any Tv show</span></div>
            
        </div>




    </div>

</body>