@{
    ViewData["Title"] = "Privacy Policy";
    
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<body>
    <div class="con">
        <div class="info">
            <h1>
                This is custom Cimena application using <a href="https://dotnet.microsoft.com">ASP.NET</a> and <a href="https://www.mysql.com/">MySQL</a> , made it
                for learning purposes!
            </h1>
        </div>
        <br />
        <div class="contactme">
            <h2>Created by <a href="https://github.com/kalentzisdev">kalentzisdev</a></h2>

            <h2>Contact me <a href="mailto:kalentzisdev@gmail.com">here!</a></h2>
        </div>
    </div>
</body>